<!DOCTYPE html>
<html>
<head>
	<title>Upload Something</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!--Link Datepicker-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--Link Bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
    
	<div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Navigation</h3>

                            <a href="/home" class="nav__link" style="text-decoration: none;">
                                <i class='bx bx-user-plus nav__icon' ></i>
                                <span class="nav__name">Add Account</span>
                            </a>

                            <a href="/users-list" class="nav__link" style="text-decoration: none;">
                                <i class='bx bx-user nav__icon' ></i>
                                <span class="nav__name">Users List</span>
                            </a>

                            <a href="/buat-postingan" class="nav__link active" style="text-decoration: none;">
                                <i class='bx bx-plus-circle nav__icon' ></i>
                                <span class="nav__name">Make Feed</span>
                            </a>

                            <a href="/download-postingan" class="nav__link" style="text-decoration: none;">
                                <i class='bx bx-download nav__icon' ></i>
                                <span class="nav__name">Download Posts</span>
                            </a>
                            <a href="/logout">
                                <span class="nav__name">Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
    </div>
    <div class="container">
        <h1>Make Feed</h1>
        <div class="form-floating">
            <textarea class="form-control" style="border: 1px solid #58555e;" placeholder="Click here to write a caption...." id="isiCapt" form="usrform" name="comment" style="height: 100px"></textarea>
            <label for="isiCapt">Write a caption...</label>
        </div>
	<!-- <textarea placeholder="Click here to write a caption..." name="comment" form="usrform" style="width: 810px; height: 150px; resize: none;" id="isiCapt"></textarea> -->
    <!-- Button trigger modal -->
    <button class="badge bg-sm bg-primary border-0" style="margin-top: 10px; width: 80px; height: 30px;" id="upload">Choose File</button>
    <button onload="postPostingan()" class="badge bg-sm bg-success border-0" style="width: 80px; height: 30px;" id="coba">Upload</button>
    <button class="badge bg-info border-0" data-bs-target="#exampleModal" data-bs-toggle="modal" style="width: 130px; height: 30px;">Schedule Upload</button>
    </div>
    

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pilih Tanggal Dan Waktu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <input type="text" name="datepicker" id="datepicker">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <script src="/js/script.js"></script>
    <script src="/js/posting.js"></script>
    <script>
       
    </script>
    <script>
        var myModal = document.getElementById('myModal')
            var myInput = document.getElementById('myInput')

            myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
})
    </script>
    <script>
        flatpickr("#datepicker", {
            enableTime: true,
        });
    </script>
</body>
</html>